{% extends 'base.html' %}
{% block title %}

    <title>show</title>

{% endblock %}
{% block content %}
            <table class="table table-dark table-hover">
                    <thead>
                            <tr>
                                <th>Id</th>
                                <th>Village Name</th>
                                <th>Tehsil</th>
                                <th>District</th>
                                <th>Population</th>
                                <th>Village Head</th>
                                <th colspan="2" class="text-center">Action</th>
                            </tr>
                    </thead>
                    <tbody>
                        {% for village in villages %}
                            <tr>
                                <td>{{ village.village_id }}</td>
                                <td>{{ village.village_name }}</td>
                                <td>{{ village.tehsil }}</td>
                                <td>{{ village.district }}</td>
                                <td>{{ village.population }}</td>
                                <td>{{ village.village_head }}</td>
                                <td>
                                    <a href="{% url 'update_url' village.id %}">
                                        <button class="btn btn-primary"><i class="bi bi-pencil-square"></i>&nbsp Update</button>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'delete_url' village.id  %}">
                                        <button class="btn btn-warning"><i class="bi bi-trash"></i>&nbsp Delete</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>

{% endblock %}